* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.swiper-slide-active div a {
    align-self: flex-start;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #fff;
}